console.log('Simply.js demo!');


var count1 = parseInt(localStorage.getItem('count1')) || 0;
var count2 = parseInt(localStorage.getItem('count2')) || 0;

simply.body = function(text, clear) {
  return simply.impl.textfield('body', count1);
};

simply.on('singleClick', function(e) {
  if (e.button === 'up') {
    simply.subtitle(++count1);
  } else if (e.button === 'down') {
    simply.subtitle(++count2);
  }
simply.on('longClick', function(e) {
  if (e.button === 'select') {
    simply.subtitle(count1 = 0);
    simply.subtitle(count2 = 0);
    } else if (e.button === 'up') {
    simply.subtitle(--count1);
    } else if (e.button === 'down') {
    simply.subtitle(--count2);
    }
    
    
  //localStorage.setItem('count1', count1);
  //localStorage.setItem('count2', count2);
};
};



//simply.text({ title: 'count1', subtitle: count1 });
//simply.text({ title: 'count2', subtitle: count2});


